@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Merriweather:wght@400;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {  
  html, body, main {
    @apply text-gray-900;
    font-family: 'Inter', system-ui, sans-serif;
    /* background-color: #FDFEB1; */
    background-color: #e5f8c6;
    background-image: 
      url('/images/bg_overlay1.png'),
      url('/images/bg_overlay2.png'),
      url('/images/bg_overlay3.png');
    background-repeat: no-repeat, no-repeat, no-repeat; 
    background-position: center center center; 
    background-size: cover, cover, cover; 
  }
}

@layer components {
  .btn-primary {
    @apply px-6 py-2 bg-violet-600 text-white rounded-lg hover:bg-violet-700 
    transition-colors duration-200 focus:outline-none focus:ring-2 
    focus:ring-violet-500 focus:ring-offset-2;
  }

  .btn-secondary {
    @apply px-6 py-2 bg-gray-600 text-white rounded-lg hover:bg-gray-700 
    transition-colors duration-200 focus:outline-none focus:ring-2 
    focus:ring-gray-500 focus:ring-offset-2;
  }

  .input-field {
    @apply mt-1 block w-full rounded-md border-gray-300 shadow-sm 
    focus:border-violet-500 focus:ring-violet-500 
    transition-colors duration-200;
  }

  .form-label {
    @apply block text-sm font-medium text-gray-700;
  }
} 